<div class="home-container">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1>Welcome to Joint Journey</h1>
        <p class="intro">A comprehensive guide to orthopedic diseases and treatments.</p>
      </div>
      <div class="col-sm"><img src="../../../assets/images/homepage.jpg" height="90%"></div>
    </div>
  </div>
</div>

<footer class="bg-light py-3">
  <div class="container">
    <p class="text-center">Copyright © {{currentYear}} Joint Journey</p>
  </div>
</footer>