h1 {
    color: white;
    font-family: Nexa, sans-serif;
    font-size: 50px;
    padding-bottom: 20px;
}

.home-container {
    background: hsl(215, 28%, 17%);
}

.pic-paddings {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pic-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 5;
    width: 40%;
    height: 100%;
    background-color: hsl(202, 79%, 55%, 0.7);
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 5;
    width: 40%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.intro {
    font-family: "Open Sans", sans-serif;
    color: white;
}